[run]
omit =
    */tests/*
    /docker/*
    */tests/fixtures/__init__.py
    */docker/consumer/app.py
    */tests/conftest.py
    */tests/fixtures/fake_mq.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    main()
